
@mixin example() {
  color:rgb(255, 255, 255);
  font-weight: bold;
}

.blue {
  @include example;
  background-color: rgb(0, 0, 255);
}

.red {
  @include example;
  background-color: rgb(255, 0, 0);
}