@use '../vars' as *;

@mixin button() {
  align-items: center;
  background-color: transparent;
  border-radius: $border-radius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-grid;
  font-weight: 600;
  min-width: 64px;
  outline: 0;
  padding: padding(1) padding(2);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:disabled {
    box-shadow: none;
    color: $col-action-disabled;
    cursor: default;
    pointer-events: none;
  }
}

@mixin button-primary {
  @include button();

  background-color: $col-primary;
  color: $col-action-text;

  &:disabled {
    background-color: lighten($col-action-disabled, 10%);
    color: lighten($col-action-disabled, 50%);
  }

  &:not([disabled]) {
    &:hover {
      background-color: lighten($col-primary, 20%);
    }

    &:active,
    &:focus {
      box-shadow:
        0 0 0 1px $col-action-text inset,
        0 0 0 1px $col-primary,
        0 0 0 4px lighten($col-primary, 20%);
    }
  }
}

@mixin button-secondary {
  @include button();

  border: 1px solid $col-neutral;
  color: $col-neutral;

  &[disabled] {
    border: 1px solid lighten($col-neutral, 20%);
    color: lighten($col-neutral, 20%);
  }

  &:hover {
    background-color: transparent;
    border-color: darken($col-neutral, 20%);
    color: darken($col-neutral, 20%);
  }
}

@mixin button-text {
  @include button();

  background-color: transparent;
  border-color: transparent;
  color: $col-primary;

  &:hover {
    background-color: lighten($col-primary, 10%);
    color: $col-action-text;
  }
}
